# Dart/Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# iOS/Android build artifacts
**/ios/Flutter/.last_build_id
/android/app/debug
/android/app/profile
/android/app/release

# General
*.log
*.swp
.DS_Store
.idea/
